* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body{
    background-image: url(Imagenes/Dibujodefondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: 1000px;
}

header{
    background-size: cover;
    background-repeat: no-repeat;
    width: 1500px;
    height: 250px;
    margin-left: 10px;
    top: 50px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
}

.Enc1{
    background-image: url(Imagenes/Banner1.jpg);
}

.Enc2{
    background-image: url(Imagenes/Banner2.jpg);
}

.Enc3{
    background-image: url(Imagenes/Img_1.jpg);
}

.Enc4{
    background-image: url(Imagenes/Img_2.jpg);
}

.Enc5{
    background-image: url(Imagenes/Img_3.jpg);
}

nav{
    margin-left: 500px;
    margin-top: 170px;
    align-self: end;
}

a {
    font-size: 17px;
    color: white;
    background-color: rgb(69, 69, 206);
    background-size: 500px 200px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgb(103, 101, 101);
    padding: 7px;
    text-decoration: none;
}

a[href="#"]{
    background-color: rgb(85, 197, 85);
}

h1 {
    color: black;
    filter: drop-shadow(4px 4px 4px #ffffff);
    font-size: 50px;
}

section{
    display: flex;
    flex-direction: column;
}

h2{
    align-self: center;
    color: white;
    background-color: black;
    height: 40px;
    width: 1500px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    margin: 0px 0px 0px 8px;
}

img{
    width: 95px;
    align-self: start;
    margin-left: 710px;
    border-radius: 10px;
    filter:drop-shadow(4px 4px 8px #999999);
}

article{
    width: 600px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-left: 60px;
    text-align: justify;
}

#art_index{
    margin: 0px 0px 900px 150px;
}

aside{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 900px 150px;
    font-size: 18px;
}

h3{
    margin-top: 40px;
    color: rgb(21, 21, 126);
    text-shadow: 1px 1px 2px rgb(105, 105, 117);
}


a[href="mailto:mdhl@chihockey.org"], a[href="mailto:michael.randall@chihockey.org"], a[href="(630)6908132"]{
    left: 10px;
    top: 1px;
    font-size: 16px;
    color: blue;
    text-transform: lowercase;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

p{
    margin: 15px 0px 15px 20px;
    line-height: 1;
    text-align: justify;
}

li::marker{
    color: rgb(27, 27, 112);
    font-weight: bold;
}

ol > li{
    list-style-position: inside;
    margin-bottom: 5px;
    line-height: 1;
    margin: 20px 0px 20px 20px;
}

#listL{
    list-style-type: lower-latin;
    margin: 10px 0px 10px 10px;
}

ul > li{
    list-style-position: inside;
    list-style-type: square;
    margin: 20px 0px 20px 20px;
}

table{
    align-self: center;
    text-align: center;
    width: 60rem;
    height: 80vh;
}

table, th, td{
    border: 2px solid black;
}

#P_Tabla{
    margin: 20px 0px 10px 15px;
    font-style: italic;
    text-decoration: underline black;
}

tbody tr:nth-child(odd) {
    background-color: rgb(103, 103, 184);
    color: white;
}
  
tbody tr:nth-child(even) {
    background-color:white;
}

thead th:nth-child(odd) {
    background-color:rgb(88, 87, 87);
    color: white;
}

thead th:nth-child(even) {
    background-color:rgb(88, 87, 87);
    color: white;
}